<!DOCTYPE html>

<html>

<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
    <center>
        <br>
        <font size="+2" color=0000CC> {{genre_name}} Search Page </font>
        <br><br>
    </center>



    <form action="?genre_name={{genre_name}}" method="get">
        <div>
            <label for="artist">Artist's Name:</label>
            <input type="hidden" name="genre_name" value= {{genre_name}} />
            <input type="text" name="artist" maxlength="20"/>
            </div>
        <div class="button"><button type="submit">Search</button></div>
    </form>

    <form>Genre:
        <select name="genre_name">
          {% for genre in genre_list %}
          <option value="{{ genre }}">{{ genre }}</option>
          {% endfor %}
        </select>
        <button type="submit">Switch</button>
    </form>
    <br><br>

    <div class="container">
      <center>
          <br>
          {{message}}
          <br>
      </center>

      <form action="" method="post">
        {% for song in song_list %}
          <input type="checkbox" name="Song{{ loop.index0 }}" value="{{ song.url_string }}"> {{song.price_format}}, {{song.title}}, {{song.artist}}, {{song.album}}
          <br>
          <input type="hidden" name="numOfSongs" value="{{ loop.length }}">
        {% endfor %}
        <br><br>
        <input type="submit" value="Add to cart">
      </form>

    </div>
    <center>
        <a href="/cart"> Go to Cart </a>
    </center>
    <center>
        <a href="{{ url|safe }}"/> {{ url_linktext }} </a>
    </center>

    <center>
        <a href=/> Return to main page </a>
    </center>

</body>

</html>
